@model SCIPagedList<Elias.DAL.Entities.LeaveRequest>


<div class="table-responsive">
    <table class="table table-bordered table-hover dataTable gray-table">
        <thead>
            <tr>
                @Html.SCISortHeader("Name", "name", Model.SortBy, Model.IsAscendingOrder)
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Employee.ReservedDays)</th>
                <th>Requested Days</th>
                @Html.SCISortHeader("Status", "status", Model.SortBy, Model.IsAscendingOrder)
                @Html.SCISortHeader(Html.DisplayNameFor(model => model.FirstOrDefault().RequestDate), "requestdate", Model.SortBy, Model.IsAscendingOrder)
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int index = 0; }
            @foreach (var item in Model)
            {
                index++;

                <tr>
                    <td>
                        @item.Employee.FirstName @item.Employee.LastName
                    </td>
                    <td>
                        @item.Employee.ReservedDays/@item.Employee.LeaveDays
                    </td>
                    <td>
                        @DateHelper.RenderDate(item.FromDate)
                        -
                        @DateHelper.RenderDate(item.ToDate)
                        /
                        <strong>@item.TotalDays Day(s)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Name)
                    </td>
                    <td>
                        @DateHelper.RenderDateTime(item.RequestDate)
                    </td>
                    <td>
                        @if (item.StatusId == (byte)Elias.DAL.Enums.LeaveRequestStatusEnum.Pending)
                        {
                            <a href="#" class="btn btn-xs btn-success" data-toggle="modal" data-target="#accept-leave-request-@index">Accept</a>
                            <a href="#" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#reject-leave-request-@index">Reject</a>

                            @Html.Partial("Modals/Accept", item, new ViewDataDictionary() { { "Index", index } })
                            @Html.Partial("Modals/Reject", item, new ViewDataDictionary() { { "Index", index } })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.Any())
{
    @Html.Partial("Pager", Model)
}

