@model SCIPagedList<Elias.DAL.Entities.Employee>

@{
    ViewBag.Title = "Employees";
}

@section Breadcrumb {
    <ul class="breadcrumb">
		<li>
			<a href="@Url.Action("index", "home")">Dashboard</a>
		</li>
        <li class="active">
            <span>@ViewBag.Title</span>
        </li>
    </ul>
}

<h3>@ViewBag.Title</h3>

<hr />
<br />

<div class="row">
	<div class="col-sm-6">
		<a href="@Url.Action("create")" onclick="return ELApp.addReturnUrl('@Url.Action("create")')" class="btn btn-success">
			Create New
			<i class="fa fa-plus"></i>
		</a>
	</div>
	<br class="visible-xs" />
	<div class="col-sm-6">
		@using (Html.BeginForm("index", "employees", FormMethod.Get))
        {
            <div class="input-group">
                <input type="text" class="form-control placeholder-no-fix" name="searchTerm" value="@Model.SearchTerm" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        }
	</div>
</div>
<br />

<div class="sci-ajax-grid" data-url="@Url.Action("index")" data-use-history>
	@Html.Partial("Grid", Model)
</div>

