<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | e-lias</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="@Html.CssLink("site")" />
    @RenderSection("Head", false)
</head>
<body>
    @Html.Partial("Navbar")
    <div class="container-fluid body-content @ViewBag.PageCssClasses">
        @RenderSection("Breadcrumb", false)
        @RenderBody()
    </div>

    <script>
        var useCommaForDecimals = @(2.01.ToString().Contains(',') ? "true" : "false");
    </script>
    <script src="@Html.JsLink("site")"></script>
    @Html.Partial("AppMessages")
    @RenderSection("Scripts", false)
</body>
</html>