<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | e-lias</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="@Html.CssLink("site")" />
    @RenderSection("Head", false)
</head>
<body>
    @Html.Partial("TopNavbar")
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                @Html.Partial("LeftNavbar")
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @RenderSection("Breadcrumb", false)
                @RenderBody()
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid body-content @ViewBag.PageCssClasses">
            @RenderSection("Breadcrumb", false)
            @RenderBody()
        </div>
    }

    <script>
        var useCommaForDecimals = @(2.01.ToString().Contains(',') ? "true" : "false");
    </script>
    <script src="@Html.JsLink("site")"></script>
    @Html.Partial("AppMessages")
    @RenderSection("Scripts", false)
</body>
</html>