@{
    var user = ViewBag.User as Elias.DAL.Entities.User;

    string controller = Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    string action = Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
    string page = controller + "-" + action;
}

<ul class="nav nav-sidebar">
    <li class="@((page == "home-index") ? "active" : string.Empty)">
        <a href="@Url.Action("index", "home")">Dashboard</a>
    </li>
    <li class="@((controller == "employees") ? "active" : string.Empty)">
        <a href="@Url.Action("index", "employees")">Employees</a>
    </li>
    <li class="@((controller == "leaverequests") ? "active" : string.Empty)">
        <a href="@Url.Action("index", "leaverequests")">
            Leave Requests
            <span class="badge leave-requests-badge" style="display: none">0</span>
        </a>
    </li>
</ul>